.countryinfo {
  display: flex;
  margin-top: 2rem;
  width: 50%;
}

.country-info-card {
  width: 100%;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  padding: 2rem;
  border-radius: 20px;
}

.country-name {
  font-size: 1.5rem;
  font-weight: 800;
}

.country-info-grid {
  margin-top: 1.5rem;
  display: flex;
  grid-template-columns: repeat(2, 1fr);
}

.info-list {
  list-style: none;
}

.info-list li {
  margin-bottom: 0.5rem;
}

.info-label {
  font-weight: bold;
}

.country-flag {
  width: auto;
  height: 120px;
  margin: 0 auto;
  margin-right: 0;
  border: 2px solid #7e7e7e;
}
